<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>html</title>
    <style>

    </style>
</head>
<body>
  <input type=" image "  name="tijiao "   src="../static/css/ranbbit.gif">
</body>
</html>
<!--
      1、没有utf-8的话，body里面的中文会出现乱码     utf-8          GB2312        gbk  等编码
          <!DOCTYPE html> 是一个文件类型声明，不是一个html标签
      2、<pre>预定义标签，里面编辑的内容会按照编辑时候的格式显示在浏览器中，但是是pre的字体符号
          pre是块级元素，
         ① 显示：<h1>这是一个大于号> </h1>
          上面这句话想要显示在浏览器中可以用pre,但是就没有标题h1的样式了！
          所以还是需要用字符实体来输出>号比较好！！！！
          但是也可以还对pre元素进行样式定义啊！！！！
         ② 块级元素，那么pre中是不是有其他元素是不能按照pre的想法来显示的？？？？？？？？？？？？？？

      3、<hr class=""/>    水平线也可以定义css样式的
      4、列表，
         列表使用场景：
          header里面的导航，左边的导航（但是有的设计者就是用div设计），所以就是说怎么设计完全是看设计者的需求，喜好！！！
          自定义的使用场景：在一个新闻网上首页一些带有图片缩略图的列表，就是这样了。

         有序列表<ol><li></li></ol>，有先后顺序，在编辑文章章节的时候可以用到有序列表
         使用场景：排名榜！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
         无序列表<ul><li></li></ul>  ，这个无序列表，是没有顺序的，各个列表是属于并列的关系，没有先后顺序之分
         -->
<!--
               自定义列表
               <dl>
                   <dt></dt> <dd></dd>
                             <dd></dd>
                   <dt></dt> <dd></dd>
                             <dd></dd>
                   <dt></dt> <dd></dd>
                             <dd></dd>
               </dl>
                          dl自定义
                          dt自定义列表项
                          dd自定义列表内容/列表项描述
          可以这样用：
               <dl>
                   <dt>什么是html</dt>
                          <dd>超文本标记语言</dd>
                          <dd>简单的语言</dd>
                          <dd>网页显示</dd>
                </dl>
          所以前面的淘宝列表图片是怎么做的？？不是用自定义列表可以做的么？下面这个是用list-style-type来做的？？？？？？？？？？？？？
          <style>
             ol li{
             list-style-type:url(.ipg);
             }
          </style>
          <ol>
              <li></li>
              <li></li>
              <li></li>
          </ol>

         在真实的网页开发中，列表项都不是使用html中具有的type，而是像上面一样，把默认的编号去掉，使用图片替代。

          5、网页调试工具，
              开发中要用调试工具来查看代码，
              快捷键：F12，但是为什么我的不行了，怎么调回来？？？？？，编程ctrl+shift+I了
                     -->
<!--    5、图片插入,img 为半闭标签！！！！！！！！！
           <img src="D:/html/static/css/rabbit.jpg" alt="小兔子" width="" height="" />   绝对位置，当图片位置移动就发生错误了，不要使用这种地址
           <img src="../static/css/rabbit.jpg" alt="小兔子"/>       相对位置，使用这个即使移动了图片的位置也可以在浏览器显示图片
           alt用于（当网速不行，src地址错误，浏览器禁用图像的时候）等等这个无法获取图像的情况，alt属性内容代替图像显示在浏览器中。对搜索引擎有好处！！！。

        6、链接制作
            <a href="#" target=""  title="" >文本</a>
                href的地址跟图片是一样的引入，放在一个文件下，就直接写文件名称就好了，   #号是空链接

                     站内链接：.html   但是做成网站之后是不用这个办法的，后续学习
                     站外链接： 填写其他网站的网页url，别人的


            target="_self"    就是在他原来的，自己的页面去打开新页面，  这个是默认情况
            target="_blank"   在新的窗口，              去打开新页面
            target="_top"
            target="_parent"
            文本             直接显示的文字，作为链接
            title="文本"     鼠标放到上线的链接文本上面的时候提示的文字！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！


       7、 链接（瞄、标签）的作用
             打一个页面很长的时候，我们肯定不希望滚动鼠标去拉动当具体的位置，我们就需要用到链接的跳转，（瞄、标签）的作用
            给需要跳转到的内容添加id="name"          name根据设计者需要取名
             <a href="#name" >
             <p><a id="name"></a></P>
             一定是用 <p><a id="name"></a></P>么，直接这样使用<p id="name"></P>好像可以啊，有什么问题么？？？？？？？？？？？？？？？？？
             id 定义在哪里，跳转页面的第一行就是什么，


            如果要跳转的是其他页面的某个位置，应该这样来设置,要在#号前面添加上相应的页面名称
              <a href=".html#name" >


       8、邮件发送链接
           <a href="mailto:liuxiaomi0724@163.com" >反馈意见</a>
           更多其他内容学习，多个收件人，抄送，密送，文件内容？？？？？？？？？？？？？？？？？？


      9、文件下载链接
           <a href="文件下载链接url" >文件下载</a> 这个是什么东西，点击是文件的是就会下载到文件？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？
            例如：<a href="兔子.rar" >文件下载</a>
-->


<!--
    10、 table 表格：
        行 tr
        th 标题行（居中加粗），可以不应th
        td 列
     使用场景：用于数据的展示
     ①后台管理的数据展示，比如淘宝卖家的后台，
     ②购物订单明细
     <table>
            <tr>   <th></th>     <th></th>   <th></th>   <th></th> </tr>
            <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
    </table>


   11、添加、删除行列，合并，
     ①下不要考虑那些合并的单元格，合并的单元格部分都将他们先用单个单元格展示，都写上文字
     ②添加，删除行列内容要正确知道他们正确的位置。  有没有简单的办法来删除啊？？？？？？？？？？？？？？？？？？？后面学习
     ③添加，删除完成之后，现在来考虑合并，效果属性等等。
     ④表格的标题，<caption></caption>


     合并：
     单词学习：行 row     列：columns ，简写为col
     跨行合并：      跨列合并：colspan=""
     ----------------------------------------
      <table>
            <tr>
                    <th ></th>
                    <th ></th>
                    <th></th>
            </tr>
            <tr>
                    <td rowspan="2"></td>
                    <td></td>
                    <td></td>
            </tr>
            <tr>

                   <td></td>
                   <td></td>
            </tr>
    </table>



     ---------------------------------------------
     <table>
            <tr>
                    <th colspan=" 2"></th>

                    <th></th>
            </tr>
            <tr>
                    <td></td>
                    <td></td>
                    <td></td>
            </tr>
            <tr>
                   <td></td>
                   <td></td>
                   <td></td>
            </tr>
    </table>

   12、表格属性，属性值那么多，不需要背，后期用到就知道了
   width：
   border：
   text-align：left、right、center
   background
   cellpadding：单元格内容到单元格的距离，填充
   cellspacing：单元格与单元格的间距
   frame：规定外边框哪个部分可以看见，above，lhs等等
   rules：规定内边框哪个部分可以看见，值，none   rows行   cols列，等等



   13、嵌套表格
 <table>
            <tr>   <th></th>                     <th></th>   <th></th>   <th></th> </tr>
            <tr>   <td><table>  </table></td>     <td></td>   <td></td>   <td></td> </tr>
            <tr>   <td></td>                     <td></td>   <td></td>   <td></td> </tr>
            <tr>   <td></td>                     <td></td>   <td></td>   <td></td> </tr>
    </table>

    还有其他的嵌套，嵌套列表，嵌套段落，等等都是可以的，。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。。
-->



<!--在浏览器中，表格是作为整体来解析的，整个表格解析完毕之后才会展示出来，如果表格很复杂那么就很难解析出来了，加载时间长，用户体检不好。
     所以要使用表格优化标签，让它可以加载一部分就显示一部分，不要等整个表格都加载完再显示。

     就是将表格划分结构，划分为多个表格，（在浏览器中它还是一个一个表格解析展示的，并没有违背原理）
       表头thread （th）：放标题
       主体tbody（td）：放表格内容能够
       脚注tfoot      ：放脚注
   <table>
            <caption></caption>
            <thread>
                <tr>   <th></th>     <th></th>   <th></th>   <th></th> </tr>
            </thread>
            <tbody>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            </tbody>
            <tfoot>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            </tfoot>
    </table>

    浏览器解析是从上到下的。但是在表格这里，它跳出了这个规定，它永远是先解析表头，然后是主体，最后是脚注，即使把脚注写在了前面，也是最后显示
       <table>
            <caption></caption>
            <thread>
                <tr>   <th></th>     <th></th>   <th></th>   <th></th> </tr>
            </thread>
                        <tfoot>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            </tfoot>
            <tbody>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
                <tr>   <td></td>     <td></td>   <td></td>   <td></td> </tr>
            </tbody>

    </table>
    上面两个文档显示的内容是一致的。
     -->


   <!--
      表格也可以用来布局，这用在做简单的布局，其实不要用table布局！！更不要用于主页图片那种的布局！！！！！
      如下面这种的可以用。

      关于我们         友情链接
      团队介绍           360搜索      淘宝     京东
      人才招聘           简书        xxxx      xxxx
      讲师招募           xxxx         xxxx    xxxx
      联系我们           xxxx         xxxx
      常见问题
      友情链接



      其实表格真的是跟不好，解析需要完全加载后显示，
      跨行跨列也不好，
      内嵌表格也不好，这个不要用表格来做，了解就好了
      代码维护成本很高。
      -->








<!-- 拓展问题，表格能不能用<pre>与<span>来定义啊？？？？这样不是很简单了么？，这样不能设置样式！！
        -->





