<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网页布局实战演练</title>
    <link rel="stylesheet" href="css/mystyle.css">
</head>
<body>
<p><pre>   这里是个大于号></pre></p>
<pre>
        &
         {
        width：100%；
        height：500px
        background：red
        opacity：0.5
    ♂(￣▽￣) ©  ÷
    ∞ ∬ ∫ ∮ ∂ ∇ ∠ ∪ ∩ ＝ ＋ − × ÷ ⊂ ⊃ ∈ ∋ ⊆ ⊇ ≦ ≧ ＜ ＞ ≪ ≫ ≠ ≡ ≒ ∽ √ ∧ ∨ ∀ ∃ ∵ ∴ ± ⊥ ∟ ¬ ⊿ ∝ ⌒ ⇒ ⇔
</pre>

</body>
</html>
        <!--
        网页设计思路。
        1、先理清思路，给网页分区域，区域不要太多，这样后期好管理
        2、从上到下，从左到右-->


        <!--给背景图片增加透明度
        {
        width：100%；
        height：500px
        background：red
        opacity：0.5         这里是透明度。！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
        -->


<!--
  横向排版，用float属性，
  用完之后要记得清楚float，以免影响其他div的设计
  可以用个空的div来清楚浮动。
  <style>
        .clear{
        clear:both;
        }
  </style>
  <div class="clear"></div>
  -->