<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>float</title>
    <style>
 .baba{
     width: 100%;
     height: 500px;
     background: #2e6da4;
   /*  float:left ;*/
 }
 .text1{
     width: 100px;
     height: 100px;
     background:red;

 }
 .text2{
     width: 100px;
     height: 100px;
     background:yellow;
     float: left;
 }
 .text3{
     width: 200px;
     height: 100px;
     background: #ff94d7;



 }
 .text4{
     width: 100px;
     height: 100px;
     background:yellow;
     float: right;


 }
 .text5{
     width: 100px;
     height: 100px;
     background: #1c19ff;
     float: right;
 }
 .tuzi {
     width:500px;
 }

 .tuzi1 img{
     float: right;
 }
 .fu{ width:500px;height:auto;background: #ff40da;border: 1px solid black;overflow:hidden;zoom: 1}
 .zi1, .zi2,.zi3 {width:60px;height:60px;float:left;background: #fbff4f;border: 1px solid black}
/* .zi2 {
     clear: right;
 }*/
 .fuxiongdi{ width:200px;height:200px; background: #ff281c;}



    </style>
</head>
<body>

<div class="baba">o

    <div class="text1">
        <div class="text1-1">
            <p>liuxiaomi1-1</p>
        </div>
        <div class="text1-2">
            <p>liuxiaomi1-2</p>
        </div>
    </div>
    <div class="text2">
        <p>xiaomizhou2</p>
        <p>xiaomizhou2</p>
        <p>xiaomizhou2</p>
        <p>xiaomizhou2</p>
    </div>
    <div class="text3">
        <p>xiaomizhou3</p>
        <p>xiaomizhou3</p>
        <p>xiaomizhou3</p>
    </div>
    <div class="text4">
        <p>xiaomizhou4</p>
    </div>
    <div class="text5">
        <p>xiaomizhou5</p>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<div class="tuzi">
    <div>
        11111兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
        兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
        兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
        兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
        兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
        兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    </div>
    <div class="tuzi1"><img src="../static/img/rabbit.gif"></div>
    <div>
    2222兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
    </div>
</div>

<br/>
<br/>
<div class="fu">
    <div class="zi1"><p>1</p></div>
    <div class="zi2"><p>2</p></div>
    <div class="zi3"><p>3</p></div>
    <div class="zi1"><p>1</p></div>
    <div class="zi2"><p>2</p></div>
    <div class="zi3"><p>3</p></div>
    <div class="zi1"><p>1</p></div>
    <div class="zi2"><p>2</p></div>
    <div class="zi3"><p>3</p></div>
</div>
<div class="fuxiongdi">
</div>
<div class="fu">
    <div class="zi1"><p>1</p></div>
    <div class="zi2"><p>2</p></div>
    <div class="zi3"><p>3</p></div>
</div>

</body>
</html>

        <!--
        前面学习了盒子div，box模型根据宽高布局，

        div块级元素，它是占据整行的，自上而下的排列，也就是传说中的流。
        在css布局中，无非就是想办法让div不整行占据，设法在一行里面放置几个div块，让div'块脱离标准的流

        float浮动就可以让div块脱离标准流。
        浮动可以理解为让某个元素脱离标准流，漂浮在标准流之上，和标准流不在一个层面上。
        float：left，  漂浮起来靠左排列，左，指的是页面的左边缘，如果连续两个div设置左浮动，那么就是依次无间隙排列在一行，从左往右排列！！！
        float：right，  漂浮起来靠右排列，右，指的是页面的右边缘，如果连续两个div设置右浮动，那么就是依次无间隙排列在一行，从右往左排列！！！
        float：none，  不设置浮动，
        float：inherit，  继承父元素的样式,这样的话div1，div2......他们都是另起一行的,而且各个div是有间隙的！！！！！没有在同一行

        浮动的结论：float  ！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！可以继承
        如果上面的一个div没有设置浮动，这个浮动的div会另起一行来相应的左、右浮动。      也就是说这个浮动的div顶部是与上一个div底部对齐的。
        如果上面的一个div是设置浮动的，这个浮动的div会紧跟在上面一个浮动后面，直达这行被排满才会挤到下一行。
        Adiv 不浮动，Cdiv不浮动，B浮动，那么B另起一行，且B的顶端紧贴A的底端。C不浮动，C有跟标准流一样有间隙的跟上A，会被浮动的B覆盖掉其中的重叠部分
        但是重叠覆盖的地方只会是div盒子，框部分，它的文本部分是不会被覆盖的，文本最终还是会显示出来的，
        因此就可以用float来设置文本环绕图片方式。

        float浮动的目的之一，给文本与图片的环绕效果。对图片img进行操作，使得图片脱离文档流！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
        下面的最里面的div不写可以，最外面的tuzi  div不写也可以
        <div class="tuzi">
            <div class="tuzi1"><img src="../static/img/rabbit.gif">
            </div>
            <div>
                1111兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
                兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
                兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
                兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
                兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
                兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子兔子
            </div>
        </div>


        浮动float的弊端：
        浮动的div脱离标准流，不按照标准占据空间，引起塌陷。！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！
        例如下面的例子，父元素fu没有设置高度，那么它的高度是有子元素撑起来来的，  但是子元素是属于浮动类型的，父元素就没有办法检测子元素的高度。
        子元素没有挤满一行的时候，父元素是没有高度的，产生塌陷
        这个时候父元素的兄弟元素是紧跟在父元素后面的，就会被子元素覆盖掉一些部分，这就是塌陷
        <style>
                .fu{ width:500px;height:auto}
                .zi{width:60px;height:60px;float:left;}
                .fuxiongdi{ width:200px;height:200px}
         <style>
         <div class="fu">
            <div class="zi"><p></p></div>
            <div class="zi"><p></p></div>
             <div class="zi"><p></p></div>
         </div>
         <div class="fuxiongdi">
         </div>
         给父兄弟添加  clear: left ，它的左边就不会出现有浮动元素了。
         给父天界overflow：auto；zoom：1；修剪溢出,overflow 的可以是任意值，就可以解决这个问题
-->


        <!--浮动塌陷弊端的解决办法
            1、手动给父元素添加高度     不用这个！！！子元素一多，就出问题
            2、通过clear清除内部与外部的浮动
            3、给父元素添加浮动，（让父元素的高度提升）
            4、给父元素添加overfloat属性并且结合zoom：1使用
            5、伪类  before：：   来解决（这个后面学习，更好的实现代码的优化）-->






      <!--  清除浮动：clear！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！不可以继承
        可以理解为打破横向排列，
        clear：left，  不允许左边有浮动对象，也就是清除左边的浮动，也就是把这个div换到下一行
        clear：right， 不允许右边有浮动对象，也就是清除右边的浮动，？？？？？？所以呢？？？？？
        clear：none，  左右两边都允许浮动，不做任何变动？？？？、所以呢？？
        clear：both，
        css的清除，这个规则只能影响div它自己，不能影响其他元素
            想让divA左边没有浮动就用divA{clear：left，}
            想让divB左边没有浮动就用divB{clear：left，}

        问题：clear：right好像都没有起作用？？？？？？
        -->


        <!--  解决溢出：overflow：！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！！不可以继承

        overflow：auto， 自动修剪
        overflow：hidden，
        overflow： ，
        overflow：
        overflow，会修剪多余的内容，这个也是overfloat的弊端，在这里使用float有弊端，overfloat有弊端，两个以毒攻毒。会解决我们遇到的问题！！！！



        -->