<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="static/css/mystyle.css">
    <script src="static/js/jqurey-3.3.1.mim.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="https://at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.js"></script>
    <title>小米粥学堂</title>
</head>
<body>
<div class="container my-margin">
    <div class="row ">
        <!--<div class="col-lg-2 col-lg-offset-4"><h2>小米粥学堂</h2></div>-->
        <div class="col-lg-2 col-lg-offset-5"><img src="static/img/logo.png" /></div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 my-border">
            <div class="row">
                <div class="col-lg-6 my-margin">
                    <form class="form-horizontal col-lg-offset-1">
                        <div class="form-group">
                            <div class="col-lg-11 ">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="手机/用户名/邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-11">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="输入6~32位密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-6 ">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"> 7 天内免登录
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-4 col-lg-offset-2">
                                <p><a href="#">忘记密码</a></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-11">
                                <button type="submit" class="btn btn-success btn-block">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6 my-margin">
                    <div class="row">
                        <div class="col-lg-10">
                            <p>没有账号？<a href="#">免费注册</a> </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="xian">
                                <span class="txt">快速登录 </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="row">
                                <div class="col-lg-3">
                                    <!--<i class="iconfont">&#xe69a;</i>-->
                                    <svg class="my-icon" aria-hidden="true">
                                        <use xlink:href="#icon-weixin"></use>
                                    </svg>
                                </div>
                                <div class="col-lg-3">
                                    <!--<i class="iconfont">&#xe65e;</i>-->
                                    <svg class="my-icon" aria-hidden="true">
                                        <use xlink:href="#icon-zhifubaorenzheng"></use>
                                    </svg>
                                </div>
                                <div class="col-lg-3">
                                    <!--<i class="iconfont">&#xe73b;</i>-->
                                    <svg class="my-icon" aria-hidden="true">
                                        <use xlink:href="#icon-QQ"></use>
                                    </svg>
                                </div>
                                <div class="col-lg-3">
                                    <!--<i class="iconfont">&#xe624;</i>-->
                                    <svg class="my-icon" aria-hidden="true">
                                        <use xlink:href="#icon-zhihu"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>
</body>
</html>