<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <!-- 不能在style里面写注释，浏览器的css渲染会可能失败！！！！！看下面的注释颜色没有变化就可以知道了-->
    <style type="text/css">
        *{ color: #fdff5a;}      <!-- 优先级，权重，特殊性  -->
        ul{color: rebeccapurple;}
        li{color: rgba(128, 93, 95, 0.71);}
        div{color: #030606;}
        p{color:blue;}
        body{color:red;}
    </style>
</head>
<body>
<!-- 优先级，权重，特殊性  -->
<!-- 标签  1
     类    10
     id    100
     行内  1000
     通配  0            0权重或者说是0特殊性    与   没有权重，没有特殊性有区别（有关继承问题9），它优先于没有权重，没有特殊性的 选择器
                        换句话说0值人设定的，他也可以设定为0.5 这样的值，那么就明显的知道他优先于没有特殊性的 选择器了，
                        在这里h1是没有特殊性/没有权重，*的黄色会优先，所以h1里面的字会变成黄色。
     -->
<!-- 在这个例子里面， -->
1小米
<div>
    <p>2小米</p>3小米 <!--   -->
    <h1>4小米</h1>5小米
</div>
<ul>
    <li>6小米</li>
    <li>6小米</li>
</ul>
</body>
</html>
<!-- 1小米红色，  因为body设计为红色，权重为1，它最优先
        2小米蓝色，因为p 权重1，优先设计为蓝色
        3小米，5小米，是在div里面所以是黑色，
        4小米在h1里面，它继承div的颜色，没有权重，而通配选择器0权重设计为黄色，所以，4小米是黄色


          6小米  粉色
          如果把style中li的设计删掉它继承ul样式但是还是被*样式取代。-->


