                                                                                                                            /*login登录页面css*/
.offset-left{
    margin-left: 20px;
}
.offset-right{
    margin-right: 20px;
}
.row h2 {
    color: #0fff43;
    margin-bottom: 10%;
}

.row img{
    margin-top: 10%;
    margin-bottom: 20%;
    width: 80%;
}


@font-face {
    font-family: 'iconfont';  /* project id 699026 */
    src: url('//at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.eot');
    src: url('//at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.woff') format('woff'),
    url('//at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_699026_79yg4xs4gucpiudi.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont";
    font-size:30px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    padding-left:20px
}


.my-icon {
    width: 1.8em ;
    height: 1.8em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


.xian {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
}
.txt{
    position: relative;
    top:-10px;
    background: #fff;
    display: inline-block;
}
.my-margin{
    margin-top: 5%;
    margin-bottom: 5%;
}
.my-border{
    border:1px solid #e2e2e2;
}
                                                                                                                            /*home主页css*/
 .home-nav{
     margin-top:25px;
 }
.home-nav-img{
    width:180%;
}
. my-row1-backgroud{
    background: #ffffff;
    border: 0px;
}
.myhomeform{
    padding-left:120px
}

.btn-sm-md-xs{
    padding: 4px 7px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

}

.my-col-lg-3{
    padding-left:1px;
    padding-right:0px;
}
.my-row{
    margin-top: -10px;
    margin-bottom: 0px;
}
#daohang {
    margin-right: 93px;
}

#zuixinkecheng{
    margin-left: 13px;
    margin-top: 30px;
}

#zhiyefangxiang ul ul{
    border: 0px solid #805d5f;
    background: #ffffff;
}
#zhiyefangxiang ul ul li{
    width:210px;
    margin-top: -20px;
    text-align: center;
}
#zhiyefangxiang ul li{
    margin-top: 30px;

}

#zhishitixi {
    margin-left: 13px;
    margin-top: 30px;

}
#zhishitixi p{
    font-size: 18px;
}
#zhishitixi ul ul{
    border: 0px solid #805d5f;
    background: #ffffff;
}
#zhishitixi ul ul li{
    width: 150px;
    margin-top: -20px;
    text-align: center;
}

#zhishitixi ul li{
    margin-top: 30px;
    margin-right: 8px;
    margin-left: -10px;

}
#yejiao{
    margin-top: 20px;
    background-color: #ffffff;
    border:1px solid rgba(128, 93, 95, 0.16);
}
#yejiao p{
    text-align: center;
}
#yejiao svg{
    margin-top: 10px;
}